@import "../../_shared/styles.scss";

.progress-spinner {
  text-align: center;
  position: absolute;
  left: 45%;
}

.psdk-modal-file-selector {
    border: 1px dashed $app-neutral-dark-color;
    width: 100%;
    padding: 0.3rem;
    text-align: center;
    position: relative;
}

.psdk-full-width {
    width: 100%;
}

.psdk-label-readonly {
  opacity: 54%;
  font-size: 0.7rem;
}

.psdk-data-readonly {
  padding-top: 0.625rem;
  width: 100%;
}

.psdk-attachment-list {
  border: 1px solid $app-neutral-color;
}

::ng-deep .mat-form-field-infix {
  width: auto;
}