<div
  *ngIf="displayMode$ === 'LABELS_LEFT'; else STACKED_LARGE_VAL"
  class="psdk-container-labels-left"
>
  <div class="psdk-grid-label">{{ label$ }}</div>
  <div class="psdk-val-labels-left">
    {{ value$ || "---" }}
  </div>
</div>

<ng-template #STACKED_LARGE_VAL>
  <div
    *ngIf="displayMode$ === 'STACKED_LARGE_VAL'"
    class="psdk-container-stacked-large-val"
  >
    <div class="psdk-grid-label">{{ label$ }}</div>
    <div class="psdk-val-stacked">
      {{ value$ || "---" }}
    </div>
  </div>
</ng-template>
