.psdk-container-labels-left{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: calc(2 * 0.5rem);
  row-gap: calc(2 * 0.5rem);
  align-items: start; 
}
.psdk-value {
  margin: 8px 0px;
}
.psdk-value-hf {
  margin: 8px 0px;
  font-weight: 500;
  font-size: 1.25rem;
}
.psdk-val-labels-left{
  margin: 8px 0px;
}