<!-- <div class="wss-quick-create-header">
  <h1 class="quick-link-heading">{{ heading$ }}</h1>
  <ul class="quick-link-ul-list">
    <li *ngFor="let element of actions$" class="quick-link-list">
      <button mat-raised-button color="primary" class="quick-link-button" mat-icon-button (click)="element.onClick()">
        <span class="quick-link-button-span">
          <img *ngIf="element.icon" class="quick-link-icon" [src]="element.icon" />
          <span>{{ element.label }}</span>
        </span>
      </button>
    </li>
  </ul>
</div> -->

<!-- <div class="quick-create-section">
  <div class="tag-line">
    <div class="greeting">Hi Ava,</div>
    <div class="help-text">How can we help you today?</div>
  </div>
  <div class="quick-link-div">
    <ul class="quick-link-ul-list">
      <mat-card class="quick-link-list" *ngFor="let element of actions$">
        <mat-card-content>
          <div class="quick-link-img-div"><img class="quick-link-icon" src="constellation/assets/service.png" /></div>
          <span class="quick-link-text">{{ element.label }}</span>
        </mat-card-content>
      </mat-card>
    </ul>
  </div>
</div> -->

<div class="quick-create-section">
  <div class="tag-line">
    <div style="font-size: 35px; margin-bottom: 1.5rem">Hi Ava,</div>
    <div style="font-size: 20px">How can we help you today?</div>
  </div>
  <div class="quick-link-div">
    <ul class="quick-link-ul-list">
      <mat-card class="quick-link-list" *ngFor="let element of actions$">
        <div (click)="element.onClick()">
          <div class="quick-link-img-div"><img class="quick-link-icon" src="constellation/assets/service.png" /></div>
          <span class="quick-link-text">{{ element.label }}</span>
        </div>
      </mat-card>
    </ul>
  </div>
  <div class="psdk-grid-filter-wide-narrow">
    <div>
      <mat-card class="todo-card">
        <div style="color: white; font-size: 24px; line-height: 29px; font-weight: 500; margin-bottom: 1rem">Please let us know how we did!</div>
        <div class="todo-card-div">
          <div class="psdk-avatar">
            <img src="constellation/assets/todo.png" />
          </div>
          <div class="psdk-todo-card">
            <div class="psdk-todo-assignment-title" style="font-size: 16px">U+ Service Satisfaction Survey</div>
            <div class="psdk-todo-assignment-data">
              <div class="psdk-todo-assignment-task">
                This survey will provide us valuable feedback to ensure we deliver the highest quality service to you and others.
              </div>
            </div>
          </div>
          <div class="psdk-todo-assignment-action">
            <button mat-raised-button class="todo-action-button">Get started</button>
          </div>
        </div>
      </mat-card>
    </div>
    <!-- <div>
      <mat-card class="todo-card service-card">
        <div style="color: white; font-size: 24px; line-height: 29px; font-weight: 500; margin-bottom: 1rem">Service team</div>
        <div class="todo-card-div">
          <div class="psdk-avatar">
            <img src="constellation/assets/Avatar1.png" />
          </div>
          <div class="psdk-todo-card">
            <div class="psdk-todo-assignment-title" style="font-size: 16px">Amy Billings</div>
            <div>Service Advisor</div>
          </div>
        </div>
        <hr style="color: #413e45" />
        <div class="todo-card-div">
          <div class="psdk-avatar">
            <img src="constellation/assets/Avatar2.png" />
          </div>
          <div class="psdk-todo-card">
            <div class="psdk-todo-assignment-title" style="font-size: 16px">Luca Lopez</div>
            <div>Service Technician</div>
          </div>
        </div>
      </mat-card>
    </div> -->
  </div>
  <!-- <div class="psdk-grid-filter-wide-narrow">
    <div></div>
    <div>
      <mat-card class="todo-card driver-card">
        <div style="color: white; font-size: 24px; line-height: 29px; font-weight: 500; margin-bottom: 1rem">Driver profiles</div>
        <div class="todo-card-div">
          <div class="psdk-avatar">
            <img src="constellation/assets/driver1.png" />
          </div>
          <div class="psdk-todo-card">
            <div class="psdk-todo-assignment-title" style="font-size: 16px">Ava</div>
            <div>Primary driver</div>
          </div>
        </div>
        <div class="todo-card-div">
          <div class="psdk-avatar">
            <img src="constellation/assets/driver2.png" />
          </div>
          <div class="psdk-todo-card">
            <div class="psdk-todo-assignment-title" style="font-size: 16px">Jeffrey</div>
            <div>Additional driver</div>
          </div>
        </div>
      </mat-card>
    </div>
  </div> -->
</div>
