.quick-link-ul-list {
  list-style: none;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(min(50ch, 100%), 1fr));
  display: grid;
  gap: 3rem;
}

.quick-link-list {
  align-items: center;
  display: flex;
  background: rgb(56 55 55 / 57%);
  width: 100%;
  padding: 20px;
  cursor: pointer;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #646464;
}

.quick-link-button {
  text-transform: capitalize !important;
  font-size: 16px !important;
  color: var(--app-form-color) !important;
  cursor: pointer;
  padding: calc(0.5rem * 2) !important;
  height: 6rem;
  width: 100%;
  justify-content: start !important;
  background-color: transparent;
  border: 0;
}

.quick-link-icon {
  height: 3.5rem;
}

.quick-link-button-span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quick-link-heading {
  margin-top: 8px;
}

.quick-link-img-div {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.quick-link-text {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.quick-link-div {
}

.tag-line {
  color: white;
  font-size: 45px;
  line-height: 45px;
}

.quick-create-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 14rem;
}
