<!-- <div class="wss-quick-create-header">
  <h1 class="quick-link-heading">{{ heading$ }}</h1>
  <ul class="quick-link-ul-list">
    <li *ngFor="let element of actions$" class="quick-link-list">
      <button mat-raised-button color="primary" class="quick-link-button" mat-icon-button (click)="element.onClick()">
        <span class="quick-link-button-span">
          <img *ngIf="element.icon" class="quick-link-icon" [src]="element.icon" />
          <span>{{ element.label }}</span>
        </span>
      </button>
    </li>
  </ul>
</div> -->

<div class="quick-create-section">
  <div class="tag-line">
    <div class="greeting">Hi Ava,</div>
    <div class="help-text">How can we help you today?</div>
  </div>
  <div class="quick-link-div">
    <ul class="quick-link-ul-list">
      <mat-card class="quick-link-list" *ngFor="let element of actions$">
        <mat-card-content>
          <div class="quick-link-img-div"><img class="quick-link-icon" src="constellation/assets/service.png" /></div>
          <span class="quick-link-text">{{ element.label }}</span>
        </mat-card-content>
      </mat-card>
    </ul>
  </div>
</div>
