:host {
  display: block;
  width: 100%;
  position: relative;
  top: 100px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

.hero,
.plans-section {
  display: flex !important;
  align-items: center;
  gap: 3rem;
}

.plans-container {
  flex-basis: 75%;
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.hero-text {
  flex-basis: 50%;
}

.hero-image {
  flex-basis: 45%;
  text-align: right;
}

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.plans-intro {
  flex-basis: 25%;
}

.plans-intro h2 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.3;
}

.plans-intro h2 .highlight {
  color: var(--mat-sys-primary);
}

@media (max-width: 1200px) {
  .plans-section,
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-image {
    text-align: center;
  }

  .plans-intro {
    padding-right: 0;
    margin-bottom: 2rem;
  }
}

@media (max-width: 992px) {
  .plans-container {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

.pega-part-of-page .main-content-area {
  max-width: 1400px !important;
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
