<div *ngIf="displayMode$; else noDisplayMode">
  <component-mapper name="FieldValueList" [props]="{ label$, value$, displayMode$, hideLabel }"></component-mapper>
</div>
<ng-template #noDisplayMode>
  <div *ngIf="!bReadonly$ && bHasForm$; else noEdit">
    <div [formGroup]="formGroup$" *ngIf="bVisible$">
      <mat-form-field class="psdk-full-width" subscriptSizing="dynamic" [hintLabel]="helperText">
        <mat-label>{{ label$ }}</mat-label>
        <input
          matInput
          [placeholder]=""
          [formControlName]="controlName$"
          [attr.data-test-id]="testId"
          [value]="value$"
          [required]="bRequired$"
          [matAutocomplete]="auto"
          (change)="fieldOnChange($event)"
          (click)="fieldOnClick($event)"
          (blur)="fieldOnBlur($event)"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionChanged($event)">
          <mat-option *ngFor="let opt of options$" [value]="opt.value">
            <span>{{ opt.value }}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="fieldControl.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</ng-template>
<ng-template #noEdit>
  <component-mapper name="Text" [props]="{ pConn$, formatAs$: 'text' }"></component-mapper>
</ng-template>
