<div *ngIf="showSimpleTableManual">
    <app-simple-table [formGroup$]="formGroup$" [pConn$]=pConn$></app-simple-table>
</div>
<div *ngIf="!showSimpleTableManual">
    <div *ngIf="isSearchable else listView">
        <app-promoted-filters [formGroup$]="formGroup$" [pConn$]=pConn$ [viewName]=viewName [filters]=filters [listViewProps]=listViewProps [pageClass]=pageClass [parameters]=parameters></app-promoted-filters>
    </div>
    <ng-template #listView>
        <app-list-view [pConn$]="pConn$"></app-list-view>
    </ng-template>
</div>