.progress-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  background-color: var(--mat-sys-background);
}

.progress-spinner {
  text-align: center;
}
