:host {
  display: block;
}

.plan-card {
  background-color: var(--mat-sys-surface-container);
  padding: 2rem;
  border-radius: 16px;
  text-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.plan-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.plan-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  border: 2px solid transparent;
  background: linear-gradient(to bottom, var(--mat-sys-primary), var(--mat-sys-secondary)) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  pointer-events: none;
}

.phone-image {
  margin-bottom: 1.5rem;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-image img {
  max-height: 100%;
  width: auto;
}

.plan-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.save-amount {
  color: var(--mat-sys-primary);
  font-weight: 600;
  margin-bottom: 1rem;
}

.monthly-price {
  font-size: 1rem;
  color: var(--mat-sys-on-surface);
}

.tenure,
.retail-price {
  font-size: 0.8rem;
  color: var(--mat-sys-on-surface-variant);
}

.tenure {
  margin-bottom: 1rem;
}

.retail-price {
  margin-bottom: 1.5rem;
  flex-grow: 1;
}
