<div>
  <div class="mc-swatch-header">
    <div class="mc-swatch-package">
      <div class="mc-swatch-play">
        {{ option.play }}
      </div>
      <div class="mc-swatch-level">
        {{ option.level }}
      </div>
    </div>
    <div class="mc-swatch-channels">
      <div class="mc-swatch-count">
        {{ option.channels }}
      </div>
      <div class="mc-swatch-label">Channels</div>
    </div>
  </div>
  <div class="mc-swatch-body">
    <div class="mc-swatch-banner">
      {{ option.banner }}
    </div>
    <ul>
      <li>{{ option.channelsFull }} channels plus FREE HD</li>
      <li>Thousands of On Demand choices</li>
      <li>Watch on MediaCo App</li>
      <li>Up to {{ option.internetSpeed }} Internet Speeds</li>
      <li>Unlimited nationwide calling {{ option.calling }}</li>
    </ul>

    <div class="mc-swatch-price">
      <div class="mc-swatch-from-group">
        <div class="mc-swatch-from">From</div>
        <div class="mc-swatch-currency">$</div>
      </div>

      <div class="mc-swatch-dollars">{{ option.price.substring(0, option.price.indexOf('.')) }}</div>
      <div class="mc-swatch-monthly">
        <div class="mc-swatch-cents">{{ option.price.substring(option.price.indexOf('.') + 1) }}</div>
        <div>for 12 mons</div>
        <div>when bundled</div>
      </div>
    </div>
    <div>
      <button class="mc-swatch-shop-button" (click)="onShopNowClick(option.level)">SHOP NOW</button>
    </div>
  </div>
</div>
