.mc-swatch-header {
  display: flex;
  flex-direction: row;
}

.mc-swatch-package {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 210px;
  height: 70px;
  background-color: var(--app-swatch-package-background);
  color: var(--mat-sys-on-primary);
  padding: 5px;
}

.mc-swatch-package .mc-swatch-play {
  letter-spacing: normal;
  font-size: 25px;
}

.mc-swatch-package .mc-swatch-level {
  letter-spacing: normal;
  font-size: 28px;
  font-weight: bold;
}

.mc-swatch-channels {
  letter-spacing: normal;
  background-color: var(--app-swatch-channel-background);
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.mc-swatch-channels .mc-swatch-count {
  letter-spacing: normal;
  font-size: 40px;
  font-weight: bold;
}

.mc-swatch-channels .mc-swatch-label {
  letter-spacing: normal;
  font-size: 17px;
}

.mc-swatch-body {
  letter-spacing: normal;
  border: 1px solid var(--mat-sys-outline-variant);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.mc-swatch-body .mc-swatch-banner {
  letter-spacing: normal;
  font-weight: bold;
  font-size: 15px;
  padding: 5px;
}

.mc-swatch-body .mc-swatch-price {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mc-swatch-body .mc-swatch-from-group {
  height: 90px;
}

.mc-swatch-body .mc-swatch-from {
  color: var(--mat-sys-primary);
  text-align: right;
}

.mc-swatch-body .mc-swatch-currency {
  letter-spacing: normal;
  color: var(--mat-sys-primary);
  font-size: 30px;
  font-weight: bold;
  font-family: Tahoma;
}

.mc-swatch-body .mc-swatch-dollars {
  letter-spacing: normal;
  color: var(--mat-sys-primary);
  font-size: 90px;
  font-weight: bold;
  font-family: Tahoma;
}

.mc-swatch-body .mc-swatch-monthly {
  display: flex;
  flex-direction: column;
}

.mc-swatch-body .mc-swatch-cents {
  letter-spacing: normal;
  color: var(--mat-sys-primary);
  font-size: 20px;
  font-weight: bold;
}

.mc-swatch-body .mc-swatch-shop-button {
  color: var(--mat-sys-on-primary);
  background-color: var(--mat-sys-primary);
  font-size: 25px;
  font-weight: bold;
  border-radius: 25px;
  border: 0px;
  margin: 20px;
  padding: 10px 30px;
}
