<div
  class="psdk-alert"
  [ngClass]="{'psdk-alert-error': severity === 'error',
    'psdk-grid-warning': severity === 'warning',
    'psdk-grid-success': severity === 'success',
    'psdk-grid-info': severity === 'info',
}"
>
  <div class="psdk-alert-icon">
    <mat-icon>{{ getMatIcon(severity) }}</mat-icon>
  </div>
  <div>{{ message }}</div>
  <div *ngIf="!hideClose" style="margin-left: auto">
    <button class="close-button" mat-icon-button (click)="onCloseClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
