<div class="psdk-label-infix-readonly">
  <span class="psdk-label-wrapper-readonly">
    <label [ngClass]="{'psdk-label-readonly': true,
  'label-required': bRequired$ === true}" [htmlFor]="att_valueRef">{{ label$ }}</label>
  </span>
  <div [ngClass]="{'psdk-modal-file-selector': status !== 'error',
  'psdk-modal-file-selector-error': status === 'error'}" id="attachment-container" *ngIf="bShowSelector$">
    <mat-spinner *ngIf="bLoading$" class="progress-spinner" diameter="40"></mat-spinner>
    <input hidden type="file" [required]="bRequired$" #uploader [id]="att_valueRef" (change)="uploadMyFiles($event)" />

    <button mat-stroked-button color="primary" [disabled]="bDisabled$" (click)="uploader.click()">Upload file</button>
    <span *ngIf="validatemessage" class="file-error">{{ validatemessage }}</span>
  </div>

  <div class="psdk-attachment-list" *ngIf="arFileList$ != null && arFileList$.length > 0">
    <component-mapper
      *ngIf="bShowJustDelete$; else showfull"
      name="SummaryList"
      [props]="{ arItems$: arFileList$, menuIconOverride$: 'trash', menuIconOverrideAction$: removeFileFromList$ }"
    ></component-mapper>
    <ng-template #showfull>
      <component-mapper name="SummaryList" [props]="{ arItems$: arFileList$, menuIconOverrideAction$: removeFileFromList$ }"></component-mapper>
    </ng-template>
  </div>
</div>