<div class="heading">How it works</div>
<div class="sections-container">
  <div class="section">
    <img src="constellation/assets/handshake.svg" />
    <div class="description">Get your instant online guaranteed offer</div>
  </div>
  <div class="vr"></div>
  <div class="section">
    <img src="constellation/assets/tow-truck.svg" />
    <div class="description">We will pick up your car at your convenience</div>
  </div>
  <div class="vr"></div>
  <div class="section">
    <img src="constellation/assets/dollar-sign.svg" />
    <div class="description">Get a check or credit toward a new purchase</div>
  </div>
</div>
