<div *ngIf="configProps$['visibility'] !== false" class="ng-view-top">
  <div *ngIf="showLabel$ && label$ && templateName$ !== 'SimpleTable' && templateName$ !== 'DefaultForm'" class="template-title-container">
    <span>{{ label$ }}</span>
  </div>

  <ng-container *ngIf="templateName$; else noTemplate">
    <div>
      <component-mapper
        [name]="templateName$"
        [props]="{formGroup$, pConn$, displayOnlyFA$}"
        errorMsg="View template not recognized: [{{ templateName$ }}]"
      ></component-mapper>
    </div>
  </ng-container>

  <ng-template #noTemplate>
    <div *ngIf="displayOnlyFA$; else displayAll">
      <div *ngFor="let kid of arChildren$">
        <div [ngSwitch]="kid.getPConnect().getComponentName()">
          <component-mapper
            [name]="kid.getPConnect().getComponentName()"
            [props]="{ pConn$: kid.getPConnect() }"
            errorMsg="View Missing (displayOnlyFA): {{ kid.getPConnect().getComponentName() }}"
          ></component-mapper>
        </div>
      </div>
    </div>
    <ng-template #displayAll>
      <div *ngFor="let kid of arChildren$">
        <component-mapper
          [name]="kid.getPConnect().getComponentName()"
          [props]="{ pConn$: kid.getPConnect() }"
          errorMsg="View Missing (displayAll): {{ kid.getPConnect().getComponentName() }}"
        ></component-mapper>
      </div>
    </ng-template>
  </ng-template>
</div>
