.mediaco {
  // Action Buttons styles for MediaCo sample app - start
  .button-bar {
    gap: 1rem;
    margin-top: 1.2rem;
  }

  .right-group {
    margin-left: 0 !important;
  }

  .secondary-button {
    background-color: var(--app-sys-secondary-button-background) !important;
    border-color: var(--app-sys-secondary-button-border) !important;
  }
  // Action Buttons styles for MediaCo sample app - end

  // Self Service Case View styles for MediaCo sample app - start
  .psdk-flow-container-top {
    background-color: #fff !important;
    padding: 0.5rem 0.625rem !important;
    border-radius: 0 !important;
    border-top-left-radius: 2rem !important;
    border-bottom: gray 0.0625rem solid !important;
  }
  // Self Service Case View styles for MediaCo sample app - end
}
