.button-bar {
  margin-top: 1.2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.left-group,
.right-group {
  display: flex;
  gap: 1rem;
}

.right-group {
  margin-left: auto;
}

.secondary-button {
  background-color: var(--app-sys-secondary-button-background) !important;
  border-color: var(--app-sys-secondary-button-border) !important;
}

.main-button {
  background-color: var(--mat-sys-primary) !important;
  color: var(--mat-sys-on-primary) !important;
}
