<div class="appshell-top">
  <div *ngIf="bShowAppShell$ && portalTemplate !== 'wss'">
    <component-mapper name="NavBar" [props]="{ pConn$, appName$, pages$, caseTypes$ }"></component-mapper>
  </div>
  <div *ngIf="bShowAppShell$ && portalTemplate === 'wss'">
    <component-mapper
      name="WssNavBar"
      [props]="{ pConn$, appName$, homePage: pages$[0], pages$: links, caseTypes$, arChildren$, portalLogoImage$: imageURL }"
    ></component-mapper>
  </div>
  <div *ngIf="portalTemplate !== 'wss'" class="appshell-main">
    <div *ngFor="let kid of arChildren$">
      <div *ngIf="kid.getPConnect().getComponentName() == 'ViewContainer'">
        <component-mapper name="ViewContainer" [props]="{ pConn$: kid.getPConnect() }"></component-mapper>
      </div>
    </div>
  </div>

  <!-- footer is part of WssNavBar component hence commented -->
  <!-- <div *ngIf="portalTemplate === 'wss'">
    <app-footer></app-footer>
  </div> -->
</div>
