<div class="appshell-top">
  <div *ngIf="bShowAppShell$ && portalTemplate !== 'wss'">
    <component-mapper name="NavBar" [props]="{ pConn$, appName$, pages$, caseTypes$ }"></component-mapper>
  </div>
  <div *ngIf="bShowAppShell$ && portalTemplate === 'wss'">
    <component-mapper name="WssNavBar" [props]="{ pConn$, appName$, homePage: pages$[0], pages$: links, caseTypes$ }"></component-mapper>
  </div>
  <div [ngClass]="{ 'appshell-main': portalTemplate !== 'wss', 'appshell-main-wss': portalTemplate === 'wss' }">
    <div *ngFor="let kid of arChildren$">
      <div *ngIf="kid.getPConnect().getComponentName() == 'ViewContainer'">
        <component-mapper name="ViewContainer" [props]="{ pConn$: kid.getPConnect() }"></component-mapper>
      </div>
    </div>
  </div>
  <div *ngIf="portalTemplate === 'wss'">
    <app-footer></app-footer>
  </div>
</div>
