<!-- <div style="margin-bottom: '2rem'; padding: 10px">
  <div class="banner-children" [ngClass]="landingPageName">
    <div class="tag-line">
      <div style="font-size: 35px; margin-bottom: 1.5rem">{{ configProps$.heading }}</div>
      <div style="font-size: 20px">{{ configProps$.message }}</div>
    </div>
    <div class="region-a">
      <component-mapper
        [name]="arChildren$[0].getPConnect().getComponentName()"
        [props]="{ pConn$: arChildren$[0].getPConnect(), formGroup$ }"
        errorMsg="Region wants component not yet available: {{ arChildren$[0].getPConnect().getComponentName() }}"
      ></component-mapper>
    </div>
    <div class="region-b">
      <component-mapper
        [name]="arChildren$[1].getPConnect().getComponentName()"
        [props]="{ pConn$: arChildren$[1].getPConnect(), formGroup$ }"
        errorMsg="Region wants component not yet available: {{ arChildren$[1].getPConnect().getComponentName() }}"
      ></component-mapper>
    </div>
    <div *ngIf="landingPageName === 'tradein'" class="how-it-works-container">
      <app-how-it-works></app-how-it-works>
    </div>
  </div>
</div> -->

<!--  PW 25 changes -->
<div style="margin-bottom: '2rem'; padding: 10px">
  <div class="banner-children" [ngClass]="landingPageName">
    <div class="tag-line">
      <div style="font-size: 35px; margin-bottom: 1.5rem">{{ configProps$.heading }}</div>
      <div style="font-size: 20px">{{ configProps$.message }}</div>
    </div>
    <div class="region-a">
      <component-mapper
        [name]="arChildren$[0].getPConnect().getComponentName()"
        [props]="{ pConn$: arChildren$[0].getPConnect(), formGroup$, fromBanner }"
        errorMsg="Region wants component not yet available"
      ></component-mapper>
    </div>
    <div class="region-b">
      <ng-container *ngIf="arChildren$ && arChildren$.length > 1">
        <component-mapper
          [name]="arChildren$[1].getPConnect().getComponentName()"
          [props]="{ pConn$: arChildren$[1].getPConnect(), formGroup$, fromBanner }"
          errorMsg="Region wants component not yet available"
        ></component-mapper>
      </ng-container>
    </div>
    <div *ngIf="landingPageName === 'tradein'" class="how-it-works-container">
      <app-how-it-works></app-how-it-works>
    </div>
  </div>
</div>
