<div>
  <div style="margin-bottom: 3rem">
    <mat-card class="todo-card service-card">
      <div style="color: white; font-size: 24px; line-height: 29px; font-weight: 500; margin-bottom: 1rem">Service team</div>
      <div class="todo-card-div">
        <div class="psdk-avatar">
          <img src="constellation/assets/Avatar1.png" />
        </div>
        <div class="psdk-todo-card">
          <div class="psdk-todo-assignment-title" style="font-size: 16px">Amy Billings</div>
          <div>Service Advisor</div>
        </div>
      </div>
      <hr style="color: #413e45" />
      <div class="todo-card-div">
        <div class="psdk-avatar">
          <img src="constellation/assets/Avatar2.png" />
        </div>
        <div class="psdk-todo-card">
          <div class="psdk-todo-assignment-title" style="font-size: 16px">Luca Lopez</div>
          <div>Service Technician</div>
        </div>
      </div>
    </mat-card>
  </div>
  <div>
    <mat-card class="todo-card driver-card">
      <div style="color: white; font-size: 24px; line-height: 29px; font-weight: 500; margin-bottom: 1rem">Driver profiles</div>
      <div class="todo-card-div">
        <div class="psdk-avatar">
          <img src="constellation/assets/driver1.png" />
        </div>
        <div class="psdk-todo-card">
          <div class="psdk-todo-assignment-title" style="font-size: 16px">Ava</div>
          <div>Primary driver</div>
        </div>
      </div>
      <div class="todo-card-div">
        <div class="psdk-avatar">
          <img src="constellation/assets/driver2.png" />
        </div>
        <div class="psdk-todo-card">
          <div class="psdk-todo-assignment-title" style="font-size: 16px">Jeffrey</div>
          <div>Additional driver</div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
