<mat-card class="service-history-card">
  <mat-card-header>
    <mat-card-title>Your Service Team</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <img class="icon" matListItemIcon src="constellation/assets/icons/teammate1.png" />
        <div matListItemTitle>Emily Davis</div>
        <div matListItemLine>Support Staff</div>
      </mat-list-item>
      <mat-list-item>
        <img class="icon" matListItemIcon src="constellation/assets/icons/teammate2.png" />
        <div matListItemTitle>Mike Brown</div>
        <div matListItemLine>Team Leader</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
