.section1-image {
  position: absolute;
  height: 310px;
  display: block;
  top: 25px;
  left: 20px;
}

.create-case-button {
  color: #fff;
  background-color: #099773;
  margin-top: 10px;
  box-shadow:
    0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border: none;
  padding: 10px 20px;
}
