@import "../../../_shared/styles.scss";

h2 {
    font-size: 1.2rem;
    margin-block-start: 0rem;
}

h3 {
    font-size: 1.1rem;
}
ul {
    padding-inline-start: 20px;
}
.psdk-announcement {
    background-color: $app-primary-light-color;
    padding: 1.0rem;
    margin: 0.5rem;
    border-radius: 0.6125rem;

}