@import "../../_shared/styles.scss";

.psdk-icon {
    padding: 0rem 0.125rem;
    min-width: unset;
}

.psdk-case-view-divider {
    border-bottom: 0.0625rem solid $app-neutral-light-color;
}

.psdk-utility .header-text {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.3125rem;
    text-align: left;
    display: inline-block;
}

.psdk-utility .header-icon {
    display: inline-block;
}

.psdk-utility {
    width: 100%;
    height: 6.25rem;
    padding: 0.625rem 0rem;
    text-align: left;
    background-color: $app-form-color;
    border-radius: 0.6125rem;
    margin: 0.3125rem 0rem;
}
.psdk-utility .header {
    text-align: left;
    display: flex;
    align-items: center;;
}

.psdk-utility-svg-icon {
    width: 1.4rem;
    display: inline-block;
}

.psdk-settings-svg-icon {
    width: 1.4rem;
    display: inline-block;
    filter: $app-primary-color-filter;
}


.psdk-utility .message {
    text-align: center;
}