table {
    width: 100%;
  }

  .mat-row .mat-cell {
      text-align: left;
  }

  .psdk-search {
    padding-left: 0.625rem;
  }

  .psdk-icon-search {
      vertical-align: sub;
      padding: 0rem 0.125rem;
      min-width: unset;
  }
  