.mc-resolution {
  display: flex;
  flex-direction: row;
}

.mc-card {
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 50%;
}
.mc-header {
  background-color: var(--app-swatch-channel-background);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 30px;
  font-weight: bold;
  font-size: 60px;
}

.mc-body {
  font-size: 24px;
  line-height: 1.2em;
  border: 1px solid var(--app-swatch-channel-background);
  padding: 30px;
}

.mc-chat-image {
  width: 700px;
  border-radius: 10px;
  margin: 30px;
}

.mc-chat-button {
  color: var(--mat-sys-surface-container);
  font-size: 25px;
  font-weight: bold;
  border-radius: 25px;
  border: 0px;
  margin: 20px;
  padding: 10px 30px;
}
