<div class="resolution-page">
  <div class="resolution-card">
    <img src="./assets/img/SuccessIcon.png" alt="Success Checkmark" class="success-image" />

    <h2>Get excited for your new phone!</h2>
    <p>
      We have received your order of a {{ modelName }}. It will ship out within 1 business day to {{ address }}. Your tracking information will be
      sent to {{ email }}. <br /><br />
      Thank you for your business!
    </p>

    <a href="/" class="btn" role="button"> Done </a>
  </div>
</div>
