<div *ngIf="portalSelectionScreen; else loadPortal" class="portal-load-error">
  <div data-test-id="defaultPortalErrorMessage">
    Default portal ( <span class="portal-name">{{ defaultPortalName }}</span> ) for current operator is not compatible with SDK. <br /><br />
    Please select one of the portals available to the operator's access group:
  </div>
  <div class="portals-list">
    <div *ngFor="let portal of availablePortals" class="portal-list-item" (click)="loadSelectedPortal(portal)">
      {{ portal }}
    </div>
  </div>
  <button class="logout-btn" (click)="logOff()">Logout</button>
</div>
<ng-template #loadPortal>
  <div *ngIf="!bPCoreReady$ && bLoggedIn$" class="psdk-loading">
    <div class="progress-box">
      <mat-spinner class="progress-spinner"></mat-spinner>
    </div>
  </div>
  <div *ngIf="bPCoreReady$">
    <div *ngIf="sComponentName$ == 'RootContainer'">
      <component-mapper name="RootContainer" [props]="{ pConn$ }"></component-mapper>
    </div>
  </div>
</ng-template>
