<mat-tab-group (selectedTabChange)="handleTabClick($event)">
  <mat-tab *ngFor="let tab of tabItems; let i = index" [label]="tab.name">
    <div *ngIf="currentTabId == i">
      <component-mapper
        *ngIf="tab.content?.getPConnect()"
        [name]="tab.content?.getPConnect().getComponentName()"
        [props]="{
          pConn$: tab.content?.getPConnect(),
          formGroup$: formGroup$
        }"
        errorMsg="Details Sub tabs wants component not yet available: {{ tab.content?.getPConnect().getComponentName() }}"
      ></component-mapper>
    </div>
  </mat-tab>
</mat-tab-group>
