<nav class="py-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-white text-2xl font-semibold"><img src="constellation/assets/logo.png" class="psdk-nav-logo" /></a>
    <ul class="flex items-center space-x-12">
      <li class="nav-items"><a href="#" class="text-white hover:text-gray-300">Cars</a></li>
      <li class="nav-items"><a href="#" class="text-white hover:text-gray-300">Trucks</a></li>
      <li class="nav-items"><a href="#" class="text-white hover:text-gray-300">U+ Connect</a></li>
      <li class="nav-items"><a href="#" class="text-white hover:text-gray-300">Service</a></li>
      <button class="login-button">Log In</button>
    </ul>
  </div>
</nav>
