// // Things related to movement
// $transition-slow: 0.5s !default;
// $transition-medium: 0.3s !default;
// $transition-fast: 0.1s !default;
// $natural-ease: cubic-bezier(0.4, 0.6, 0.1, 1) !default;

.psdk-nav-divider {
  border-bottom: 0.0625rem solid var(--app-divider-color);
  width: 100%;
  align-items: center;
}

.psdk-nav-header {
  display: flex;
  padding-top: 0.625rem;
  cursor: pointer;
  padding-right: 1rem;
  &:hover {
    background-color: var(--app-neutral-color);
  }
  align-items: center;
}

.psdk-nav-logo {
  width: 3.75rem;
  padding: 0.625rem;
  margin-right: 1.25rem;
}

.psdk-nav-svg-icon {
  filter: var(--app-white-color-filter);
  width: 1.6rem;
  padding-right: 0.625rem;
}

.psdk-nav-portal-name {
  font-size: 0.875rem;
}

.psdk-nav-portal-app {
  font-size: 1.5rem;
  color: var(--app-nav-color);
}

.psdk-appshell-nav {
  z-index: 3;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--app-nav-bg);
  width: var(--app-nav-width);
  height: 100%;
  color: var(--app-nav-color);
  overflow-y: auto;
  overflow-x: hidden;
  white-space: nowrap;
  will-change: width;
}

.psdk-appshell-nav:hover {
  width: var(--app-nav-width-expanded);
}

.psdk-appshell-middlenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--app-nav-bg);
  width: var(--app-nav-width);
  height: 50%;
  color: var(--app-nav-color);
  overflow: hidden;
  white-space: nowrap;
  //   transition: width $transition-medium $natural-ease;
  will-change: width;
}

.psdk-nav-ul-middle {
  display: block;
  list-style-type: none;
  margin: 0rem;
  padding-inline-start: 30px;
}

.psdk-nav-li-middle {
  box-sizing: border-box;
  text-align: left;
}

.psdk-icon {
  padding: 0rem 0.125rem;
  min-width: unset;
}

.psdk-nav-button-span {
  padding: 0 1rem;
  color: var(--app-nav-color);

  &:hover {
    background-color: var(--app-neutral-color);
  }
}

.psdk-nav-oper-avatar {
  margin: 0rem;
  padding: 0rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  max-width: 3rem;
  max-height: 3rem;
  border-radius: 50%;
  justify-content: center;
  text-align: center;
  display: inline-flex;
  font-weight: normal;
}

mat-list {
  padding: 0;
}

.psdk-profile-list-item {
  padding-left: 24px;
}

mat-list-item {
  padding: 20px 30px;
  padding-right: 0;
  cursor: pointer !important;
  height: auto !important;

  &:hover {
    // background-color: rgba(0, 0, 0, 0.5);
  }

  .flex-box {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
  }
}

.spacer {
  flex: 1 1 auto;
}

.background-image-style {
  margin-left: -16px;
  margin-right: -16px;
  height: calc(50rem);
  background-size: cover;
  background-position: center center;
}

.psdk-nav-logo {
  height: 3rem;
  width: 8rem;
}

.nav-items {
  font-size: 20px;
  font-weight: bold;
  margin: 0 2rem;
  list-style: none;
  cursor: pointer;
}

.nav-items.active {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #fff;
    width: 100%;
    bottom: -8px;
    left: 0;
  }
}

.login-button {
  background: white;
  padding: 6px;
  font-size: 16px;
  width: 6rem;
  font-weight: 600;
  border-radius: 4px;
}

mat-toolbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: none;
}

.mat-toolbar-row {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0rem 6rem;
}

.logo {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-links {
  color: white;
  text-decoration: none;
}
