<mat-toolbar>
  <mat-toolbar-row class="mat-toolbar-row">
    <a href="#" class="logo"><img src="constellation/assets/logo.png" class="psdk-nav-logo" /></a>
    <ul style="display: flex; align-items: center">
      <li class="nav-items"><a href="#" class="nav-links">Cars</a></li>
      <li class="nav-items"><a href="#" class="nav-links">Trucks</a></li>
      <li class="nav-items"><a href="#" class="nav-links">U+ Connect</a></li>
      <li class="nav-items"><a href="#" class="nav-links">Service</a></li>
      <button class="login-button">Log In</button>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
