<div *ngIf="displayMode$; else noDisplayMode">
  <app-field-value-list [label$]="label$" [value$]="value$" [displayMode$]="displayMode$"></app-field-value-list>
</div>
<ng-template #noDisplayMode>
<div *ngIf="!bReadonly$ && bHasForm$; else noEdit">
  <div [formGroup]="formGroup$" *ngIf="bVisible$">
    <mat-form-field class="psdk-full-width">
      <mat-label>{{ label$ }}</mat-label>
      <input
        matInput
        [attr.data-test-id]="testId"
        [placeholder]=""
        type="datetime-local"
        [value]="value$"
        [required]="bRequired$"
        [formControlName]="controlName$"
        (click)="fieldOnClick($event)"
        (change)="fieldOnChange($event)"
        (blur)="fieldOnBlur($event)"
      />
      <mat-error *ngIf="fieldControl.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
</div>
</ng-template>
<ng-template #noEdit>
  <app-text [pConn$]="pConn$" [formatAs$]="'date-time'"></app-text>
</ng-template>
