.psdk-full-width {
    width: 100%;
}

.psdk-label-readonly {
  opacity: 54%;
  font-size: 0.7rem;
}



.psdk-data-readonly {
  padding-top: 0.625rem;
  width: 100%;
}

::ng-deep .mat-form-field-infix {
  width: auto;
}