/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import "@angular/material/prebuilt-themes/pink-bluegrey.css";*/
@import '@angular/material/theming';
@import './containerStyles.scss';

html,
body {
  @import './theme.scss';
  @include angular-material-theme($my-theme);
  @include generate-theme-vars($my-theme);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button.mat-mdc-menu-item {
  line-height: 24px !important;
}
a.mat-mdc-menu-item > mat-icon {
  margin-bottom: 14px;
}
.mat-icon svg {
  height: 24px;
  width: 24px;
}
.mat-step-icon-content .mat-icon svg {
  height: 100%;
  width: 100%;
}

.mat-mdc-card {
  padding: 16px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.mat-sort-header-content {
  justify-content: space-between;
  width: 100%;
}
.mat-sort-header-container {
  justify-content: space-between;
}

.mdc-button {
  line-height: inherit !important;
}

.appshell-top {
  background:
    url(./assets/backgroundImg.png) no-repeat,
    linear-gradient(#151414, #161515);
  content: '';
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: left -50px;
  // overflow-y: hidden;
}

app-flow-container .psdk-flow-container-top {
  background: none;
  color: white;
  padding: 7rem 36rem;
}

// app-multi-step {
//   .psdk-horizontal-step-label-selected {
//     color: white;
//   }

//   .psdk-horizontal-step-label {
//     color: white;
//   }
// }
// .appshell-main-wss {
//   padding: 0rem 6rem;
// }

// .mat-mdc-card {
//   align-items: center;
//   display: flex !important;
//   background: rgba(56, 55, 55, 0.57) !important;
//   width: 100%;
//   padding: 20px;
//   cursor: pointer;
//   justify-content: center;
//   border-radius: 8px !important;
//   border: 1px solid #646464;
// }
