/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/*@import "@angular/material/prebuilt-themes/pink-bluegrey.css";*/
@import '@angular/material/theming';

.theme {
  @import './theme.scss';
  @include angular-material-theme($my-theme);
  @include generate-theme-vars($my-theme);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button.mat-mdc-menu-item {
  line-height: 24px !important;
}
a.mat-mdc-menu-item > mat-icon {
  margin-bottom: 14px;
}
.mat-icon svg {
  height: 24px;
  width: 24px;
}
.mat-step-icon-content .mat-icon svg {
  height: 100%;
  width: 100%;
}

.mat-mdc-card {
  padding: 16px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled),
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.mat-sort-header-content {
  justify-content: space-between;
  width: 100%;
}
.mat-sort-header-container {
  justify-content: space-between;
}
