<div *ngIf="displayMode$; else noDisplayMode">
  <component-mapper *ngIf="bVisible$ !== false" name="FieldValueList" [props]="{ label$, value$: formattedValue$, displayMode$ }"></component-mapper>
</div>
<ng-template #noDisplayMode>
  <div *ngIf="!bReadonly$ && bHasForm$; else noEdit">
    <div [formGroup]="formGroup$" *ngIf="bVisible$">
      <div class="time-picker-container">
        <mat-form-field appearance="outline" class="psdk-time-input" subscriptSizing="dynamic" [hintLabel]="helperText">
          <mat-label>{{ label$ }}</mat-label>
          <input
            matInput
            type="time"
            [placeholder]="placeholder"
            [required]="bRequired$"
            [attr.data-test-id]="testId + '-input'"
            [formControl]="fieldControl"
            (blur)="fieldOnBlur($event)"
            step="1800"
          />
          <button type="button" mat-icon-button matSuffix (click)="toggleTimeDropdown($event)" (mousedown)="$event.preventDefault()" tabindex="-1">
            <mat-icon>schedule</mat-icon>
          </button>
          <mat-error *ngIf="fieldControl.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>

        <div class="time-dropdown mat-elevation-z4" *ngIf="showTimeDropdown" [style.top.px]="dropdownTop" [style.left.px]="dropdownLeft">
          <div class="time-options-container">
            <button
              *ngFor="let time of timeOptions"
              type="button"
              class="time-option"
              [class.selected]="fieldControl.value === time.value"
              (click)="onTimeSelected(time)"
              (keydown.enter)="onTimeSelected(time)"
              (keydown.space)="onTimeSelected(time); $event.preventDefault()"
            >
              {{ time.display }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #noEdit>
  <component-mapper *ngIf="bVisible$ !== false" name="Text" [props]="{ pConn$, formatAs$: 'text' }"></component-mapper>
</ng-template>
