<div *ngIf="displayMode$; else noDisplayMode">
  <component-mapper *ngIf="bVisible$ !== false" name="FieldValueList" [props]="{ label$, value$: formattedValue$, displayMode$ }"></component-mapper>
</div>
<ng-template #noDisplayMode>
  <div *ngIf="!bReadonly$ && bHasForm$; else noEdit">
    <div [formGroup]="formGroup$" *ngIf="bVisible$">
      <mat-form-field appearance="outline" class="psdk-full-width" subscriptSizing="dynamic" [hintLabel]="helperText">
        <mat-label>{{ label$ }}</mat-label>
        <mat-select
          [placeholder]="placeholder"
          [required]="bRequired$"
          [attr.data-test-id]="testId"
          [formControl]="fieldControl"
          (selectionChange)="fieldOnBlur($event)"
        >
          <mat-option *ngFor="let time of timeOptions" [value]="time.value">
            {{ time.display }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="fieldControl.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</ng-template>
<ng-template #noEdit>
  <component-mapper *ngIf="bVisible$ !== false" name="Text" [props]="{ pConn$, formatAs$: 'text' }"></component-mapper>
</ng-template>
