* {
    box-sizing: border-box;
}



.psdk-three-column {
    display: flow-root;
    height: 100%;
}

/* Create two equal columns that floats next to each other */
.psdk-three-column-column {
    width: 33%;
    float: left;
    padding: 0rem 0.3125rem;
    height: 100%;

}

